.git
.DS_Store
.idea
.vscode
**/node_modules
**/dist
**/.vite
**/.cache
**/.next
**/.turbo
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/coverage
**/.coverage
**/logs
**/*.log
